<div class="column">
    <div class="card">
    <div class="slideshow-container" id="{{ product.identifier }}">

      <!-- Full-width images with number and caption text -->
          <div class="mySlides">
              <img src="{{ product.image1 }}" style="width:100%">
          </div>
     

     
      <!-- Next and previous buttons -->

       <!-- The dots/circles -->

     </div>
          <div><h5>{{ product.name2 }}
          <br>{{ product.name3 }}</h5></div>
    <div><h2>R$ {{ product.price }}</h2></div>
    </div>
 {% include script %} 
  </div>
