---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");

// Variables
$color--default: #d3d3d3;
$color--light: lighten($color--default, 65%);
$color--primary: #f0f0f0;
$color--secondary: #429bfc;
$color--background: #001510;

$size--unit: 8px;

$layout--max-width: 1000px;

// Default styling
* {
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
  font-size: $size--unit * 2;
  color: $color--default;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: $color--background;
}

// Mixins

@mixin xsm {
    @media (max-width: 724px) {
        @content;
    }
}

@mixin sm {
  @media (max-width: #{$layout--max-width}) {
    @content;
  }
}

@mixin ms {
  @media (min-width: #{$layout--max-width}) {
    @content;
  }
}

@mixin button-hover($color) {
  position: relative;
  z-index: 2;

  &:hover {
    transition: 0.2s all;
    background-color: darken($color, 10%);
    &:before {
      transform: scale(1.1, 1.5);
    }
  }

  &:before {
    content: " ";
    position: absolute;
    background-color: $color;
    top: 0;
    left: 0;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.16, 0.8, 0.66, 1.54);
  }
}

@mixin fit-to-layout-and-center {
  width: 100%;
  max-width: $layout--max-width;
  margin-left: auto;
  margin-right: auto;
  @include sm {
    padding-left: $size--unit * 3;
    padding-right: $size--unit * 3;
  }
}

// Components
.header {
  width: 100%;
  display: flex;
  align-items: center;
  // margin-bottom: $size--unit * 1;
  // padding-top: $size--unit * 1;
  // padding-bottom: $size--unit * 1;
  // border-bottom: 1px solid $color--light;
  background-color: #000f0c;

  &__container {
    display: flex;
    justify-content: space-between;
    @include fit-to-layout-and-center;
  }

  &__branding {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    max-height: $size--unit*6;
    margin-right: $size--unit*1;
  }

  &__title {
    font-weight: bold;
    font-size: $size--unit * 3;
    cursor: pointer;
  }

  &__checkout {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-weight: bold;
    svg {
      margin-right: $size--unit * 1;
    }
  }

  &__checkout-fill {
    fill: $color--primary;
  }

  &__actions {
    display: flex;
    align-items: center;
  }
}

.main {
  @include fit-to-layout-and-center;
}

.product {
  display: flex;
  align-items: center;
  flex-direction: row;
  /**
   * prevent children elements from "bleeding through" in 3D space
   * by creating a 3D transform container in the parent
   */
  transform: translate3d(0px, 0px, 0px);
  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  &:nth-last-of-type(odd) & {
    &__information {
      margin-left: 0;
      margin-right: $size--unit * 4;
      @include sm {
        margin-right: 0;
      }
    }

    &__image {
      transform: perspective(650px) rotateZ(5deg) rotateX(-2.5deg) rotateY(-15deg) scale(0.8) translateX(30px);
      box-shadow: 30px 30px 50px transparentize(darken($color--primary, 50%), 0.9);
      @include sm {
        transform: perspective(650px) rotateZ(5deg) rotateX(-2.5deg) rotateY(-15deg) scale(0.8) translateX(-30px);
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: $size--unit * 12;
  }

  @include sm {
    flex-direction: column;
    &:nth-of-type(even) {
      flex-direction: column;
    }
    justify-content: center;
  }

  &__information {
    flex: 1;
    margin-left: $size--unit * 4;
    @include sm {
      margin-left: 0;
    }
  }

  &__image {
    flex: 1;
    height: auto;
    width: 100%;
    max-width: 500px;
    max-height: 400px;
    background-size: cover;
    transform: perspective(650px) rotateZ(-5deg) rotateX(2.5deg) rotateY(15deg) scale(0.8) translateX(-30px);
    box-shadow: -30px 30px 50px transparentize(darken($color--primary, 50%), 0.9);
    @include sm {
      transform: perspective(650px) rotateZ(5deg) rotateX(-2.5deg) rotateY(-15deg) scale(0.8) translateX(-30px);
      box-shadow: 30px 30px 50px transparentize(darken($color--primary, 50%), 0.9);
      &:last-child {
        display: none;
      }
    }

    @include ms {
      &:not(:last-child) {
        display: none;
      }
    }
    margin-right: auto;
    border-radius: $size--unit;
  }

  &__title {
    margin-top: 0;
    font-size: $size--unit * 5;
  }

  &__description {
    font-size: $size--unit * 2.5;
    line-height: $size--unit * 3.5;
  }
 }

.qty{
  background-color: transparent;
  border-radius: 3px;
  padding:3px 5px;
  border: solid 1px $color--primary;
  width: 45px;  
  text-align:center;
}


.login-button { all: unset; color: white; background-color: #429bfc; border: 1px solid #3393fc; text-shadow: 2px 2px 5px #3393fc; border-radius: 3px; font-weight: bold; text-transform: uppercase; font-size: 12px; letter-spacing: 2px; padding: 8px; padding-left: 24px; padding-right: 24px; position: relative; z-index: 2; margin: 0 16px; }

.login-button:hover { transition: 0.2s all; background-color: #1080fb; }

.login-button:hover:before { transform: scale(1.1, 1.5); }

.login-button:before { content: " "; position: absolute; background-color: #429bfc; top: 0; left: 0; border-radius: 4px; width: 100%; height: 100%; opacity: 0.4; z-index: -1; transform: scale(1); transition: all 0.3s cubic-bezier(0.16, 0.8, 0.66, 1.54); }

.footer {
  border-top: 1px solid $color--light;
  margin-top: $size--unit * 12;
  &__content {
    display: flex;
    // @include fit-to-layout-and-center();
    padding-top: $size--unit * 4;
    padding-bottom: $size--unit * 4;
  }

  &__socials {
    margin-left: auto;
  }
}

.snipcart-layout__header {
  min-height: 80px;
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000f0c;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #4d4d4d;}

ul.topnav li a.active {background-color: #ff0000;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

.image {
  height: auto;
  width: 100%;
}
.card {
  background-color: #000c09;
  padding: 20px;
  margin-top: 20px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000f0c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #4d4d4d;}

.dropdown:hover .dropdown-content {
  display: block;
}

.mySlides {display: none;}